<div>
	<header>
		<div class="searcharea">
			<h4>个人中心</h4>
		</div>
	</header>
	<div class="person">
		<img src="img/person.jpg" alt="" />
		<h4></h4>
	</div>
	<div class="person_info">
		<ul>
			<a href="#!/person/05"><li><img src="img/person_list01.png"/><span>我的订单</span><i><img src="img/right-rr.png" alt="" /></i></li></a>
			<a href="#!/person/06"><li><img src="img/person_seting.png"/><span>设置</span><i><img src="img/right-rr.png" alt="" /></i></li></a>
			<a href="#!/person/07"><li><img src="img/person_user.png"/><span>注册</span><i><img src="img/right-rr.png" alt="" /></i></li></a>
			<a href="#!/person/08"><li><img src="img/loading.png"/><span>登陆</span><i><img src="img/right-rr.png" alt="" /></i></li></a>
		</ul>
	</div>
</div>
<script>
	$(".person").find("h4").html(username);
</script>