<div>
	<header>
		<div class="searcharea">
			<div class="search">
				<input type="text" id="txt" class="txt" placeholder="请输入要搜索的关键词..."/>
				<i id="btn"><span class="iconfont">&#xe605;</span></i>
			</div>
			<div class="share"><span class="iconfont">&#xe621;</span></div>
			<div class="back" id="back"><span class="iconfont">&#xe648;</span></div>
		</div>
	</header>
	<div class="pagetwo_list">
		<ul>
			<li><a href=""><h4>夏威夷</h4><p>只要提到冲浪，人们眼中一定会出现这样的画面阳光、沙滩、帆船、海浪翻涌而来，对明媚的夏威夷海滩就是满足您这一切想象的现实场景。因为那里不仅有得天独厚的自然条件，因此夏威夷群岛常年有适合于冲浪运动的海浪，浪高达4米，可以使运动员滑行800米以上。因此夏威夷群岛一直是世界冲浪运动中心。</p><img src="img/pagetwo_list01.jpg" alt="" /></a></li>
			<li><a href=""><h4>法国西南海岸</h4><p>好莱坞剧作家Peter Viertel在1956年将冲浪运动带到法国，现在法国西南部的海岸线已经成为冲浪的好去处。事实上，在这里除了冲浪外，其他附加值也很高，冲浪结束后，还可以品尝着美味的葡萄酒，欣赏性感的法国女人，感受法国古老的文化是不是美不胜收呢。</p><img src="img/pagetwo_list02.jpg" alt="" /></a></li>
			<li><a href=""><h4>巴西里约热内卢</h4><p>里约热内卢海滩横跨4.5公里，它的景色之美让人目瞪口呆：花岗岩环绕着通往海湾的大门。这种“城市—海滩”的布局给予游客更多的采购机会：这里有购物中心、电影院、时装和珠宝商店，以及设置得当的餐馆和夜总会。当地的夏季是从12月到第二年的2月，气温在25℃和35℃之间。在海滩上，你也有一种参加检阅的感觉，因为可以看到划船和网球活动中的很多漂亮的身材和美丽的面孔，这里经常被称为世界上最有名的海滩，也是国外夏季冲浪知名度最高的地点之一。</p><img src="img/pagetwo_list03.jpg" alt="" /></a></li>
			<li><a href=""><h4>马尔代夫</h4><p>马尔代夫的众多岛屿均有对冲浪者来说很好的波浪。其中，最出名的冲浪地为南北马累(首都)岛。而东部的岛屿一般来说对冲浪运动者也是不错的选择，所以这个不用说对于对喜欢冲浪的人来说，马尔代夫就是一个冲浪天堂。</p><img src="img/pagetwo_list04.jpg" alt="" /></a></li>
			<li><a href=""><h4>美国加利福尼亚海岸</h4><p>在加利福尼亚海岸上加利福尼亚海岸拥有500多个冲浪点，飞翔在浪尖的不仅是年轻人们，还有老人，这也是在其他的冲浪点不曾见到的，这些铁杆的冲浪迷们相聚在此，肆意的欢笑，用卓越的技术与海浪进行一次又一次的搏击，跟随有许多志同道合的陌生人一起体验冲浪的刺激与快感吧！</p><img src="img/pagetwo_list05.jpg" alt="" /></a></li>
			<li><a href=""><h4>珀斯，西澳大利亚州</h4><p>澳洲四面环海，气候温暖，多日照而少阴雨，有利于水上运动的发展，早在欧洲人迁来之前，这里的土著人，乘独木舟浮海时，就凭一叶扁舟忽而冲上浪峰，忽而滑向浪谷，这就是冲浪运动的前身，故而澳大利亚人特别喜爱冲浪运动。</p><img src="img/pagetwo_list06.jpg" alt="" /></a></li>
			<li><a href=""><h4>南非开普敦</h4><p>开普敦是世界顶级的旅游胜地之一，海岸被大西洋与印度洋的海水同时包围着，半岛的多山地理环境造就了开普顿美丽的白沙海滩，布鲁堡(Blouberg)的海滩是滑浪以及风帆运动的热门地点，每年九月至翌年二月期间都有不少旅客到此冲浪。在世界杯之后，更多的人了解了这个位于非洲的魅力城市，这里既有原生态的野生动物，也有壮观的海滨风光，但是您是否知道这里也有这150个顶级的冲浪点等待冲浪爱好者们一显身手。</p><img src="img/pagetwo_list07.jpg" alt="" /></a></li>
			<li><a href=""><h4>西班牙</h4><p>对于冲浪爱好者来说，又高又陡的浪是一种非常理想的状态，而在西班牙的南部可以说是冲浪爱好者的天堂。这里地处大西洋沿岸，最有名的要数这里的安达卢西亚海滩，每年人们都爱到这里来冲浪，无数的冲浪爱好者把这里当做自己的第二故乡一样去看待。不仅仅是这一处海滩，整个西班牙的海滩沿岸都非常的受来自世界各地的冲浪爱好者的青睐。</p><img src="img/pagetwo_list08.jpg" alt="" /></a></li>
		</ul>
	</div>
</div>
<script>
	$("#back").click(function(){
		history.go(-1);
	})
</script>
