<div>
	<header>
		<div class="searcharea">
			<div class="search">
				<input type="text" id="txt" class="txt" placeholder="请输入要搜索的关键词..."/>
				<i id="btn"><span class="iconfont">&#xe605;</span></i>
			</div>
			<div class="share"><span class="iconfont">&#xe621;</span></div>
			<div class="back" id="back"><span class="iconfont">&#xe648;</span></div>
		</div>
	</header>
	<div class="pagefour_list">
		<div>
			<h1>什么是冲浪?</h1>
			<p>冲浪(surfing)是以海浪为动力，利用自身的高超技巧和平衡能力，搏击海浪的一项运动。运动员站立在冲浪板上，或利用腹板、跪板、充气的橡皮垫、划艇、皮艇等驾驭海浪的一项水上运动。不论采用哪种器材，运动员都要有很高的技巧和平衡能力，同时要善于在风浪中长距离游泳。</p>
		</div>
		<div>
			<h1>冲浪运动发展历程</h1>
			<p>冲浪运动是相当惊险的一项运动。脚踏冲浪板，出没在惊涛骇浪之中，即使熟悉水性，有高超技巧的人，也难免发生危险(danger)。因此，随着冲浪运动的发展，冲浪救生活动也在不断发展。</p>
		</div>
		<div>
			<h1>冲浪器材</h1>
			<p>最初使用的冲浪板长5米左右，重50～60公斤。第二次世界大战后，出现了泡沫塑料板，板的形状也有改进。现在用的冲浪板长1.5～2.7米、宽约60厘米、厚7～10厘米，板轻而平，前后两端稍窄小，后下方有一起稳定作用的尾鳍。为了增加摩擦力，在板面上还涂有一种蜡质的外膜。全部冲浪板的重量只有11～26公斤。 </p>
		</div>
		<div>
			<h1>​冲浪板种类</h1>
			<p>一、长板－长度9呎以上，适合初学者。</p>
			<p>二、短板－长度7呎以下，属于技术型浪板。</p>
			<p>三、枪板－窄又长，以应付像夏威夷地区的大浪而设计之。</p>
			<p>四、软板－动感机动性强，不受浪头大小限制，适合初学者。 </p>
			<p>五、浮筏板－板面宽大，速度转变较慢，适合初学者趴在浪板上练习用。 </p>
			<p>六、人体冲浪－不利用任何工具，将人体在较浅海边，以游泳方式，浮于水面，随波浪起伏而推进。 </p>
		</div>
		<div>
			<h1>冲浪注意事项</h1>
			<p>1．冲浪板携行要注意转弯的地方，放在地上时要轻放、风很大时摆在沙地上要用沙子盖在冲浪板上，避免被风吹走。</p>
			<p>2．冲浪板拿着朝海边走出去时，手上拿着冲浪板的角度要成直线，千万不可把浪板放在身体前面，防止海浪撞击浪板打到自己的身体。</p>
			<p>3．冲浪板由外海冲回岸边距离水深约30公分时，请立即下板，避免冲浪板直接冲击到石头上。 </p>
			<p>4．冲浪板跟海浪在撞击的时候，千万不可用手去拉安全脚绳和冲浪板，以免手被拉伤。 </p>
			<p>5．冲浪时每个人在海上的距离请保持二个冲浪板的长度。</p>
			<p>6．当你是初级的冲浪手，请注意下水前要检查装备，蜡块打过没、安全绳、救生衣检查好，暖身运动做二十分钟后，始可下海冲浪。</p>
			<p>7．冲浪起乘规定是以最靠近海浪崩溃点，且他的动作是第一个站立起来，旁边的冲浪手都要停止冲浪，如果你不管三七二十一冲下去的话，若发生事故，抢浪的人要负起一切的后果和赔偿责任。</p>
			<p>8．冲浪最好的浪形以中间崩溃往两边斜面推进的海浪最好，最危险且最不好的浪是以一排涌起瞬间崩溃的海浪，此时请上岸休息。 </p>
			<p>9．在沙滩上做柔软体操时，海风此时吹得非常强，请赶快绑好安全脚绳，我们的身体要站在顺风方向的前缘，免得被自己的冲浪板打到受伤。</p>
			<p>10．在海中冲浪时如果看到水母出现，或是被水母咬到，请赶快上岸休息。</p>
			<p>11．在外海冲浪时最靠近第一个起浪区的冲浪手，如果有一道疯狗浪从你的上方整排盖下来时，你要迅速把冲浪板往后丢，赶紧拨水潜水躲藏。 </p>
			<p>12．在冲大浪时最前面的冲浪手，跟旁边或中间或后面的冲浪手，都要保持3个浪板安全距离，免得疯狗浪盖下来时，大伙的冲浪板和安全绳缠在一起。</p>
			<p>13．冲浪手一定要遵守冲浪起乘规则，一个人一个浪，谁最靠近浪壁起乘点第一优先站起来，此时在旁边竞争的冲浪手迅速刹车或抽板停止冲浪。</p>
			<p>14．初学冲浪手要加强手部划水训练、体能训练、脚部训练、水中前滚翻憋气训练。 　</p>
			<p>15．冲浪要冲得好必须具备潜越浪技术，斗志要高、体力肌肉要强，平时请多看冲浪录影带、冲浪杂志、多跟冲浪高手一起冲浪、多多观摩、没事多上网路和同好交流经验，保证你很快就能成为冲浪高手。</p>
			<p>16．冲浪时如果碰到往外海外面拉出去的海流时，只要以斜面方向跟着海流走，把握海浪，千万不要把安全脚绳丢掉用游泳的游回来，请趴在浪板上休息等待救援。</p>
			<p>​17.发生意外灾难时，可向各地警察派出所报案请求协助。如果遇到危险情况要及时拨打求助电话或是打出SOS警报。</p>
		</div>
	</div>
</div>
<script>
	$("#back").click(function(){
		history.go(-1);
	})
</script>

