<div>
	<header>
		<div class="searcharea">
			<h4>商城</h4>
			<div class="back" id="back"><span class="iconfont">&#xe648;</span></div>
		</div>
	</header>
	<div class="shopmall">
		<ul id="shoplist">
			<li>
				<div>
					<img src="img/ware01.png" alt="" />
				</div>
				<div class="right"><p>[海滩风情]</p><p>自由冲浪203cm</p><p>￥1278</p><a href="#!/page/01">订购</a></div>
			</li>
			<li>
				<div>
					<img src="img/ware02.png" alt="" />
				</div>
				<div class="right"><p>[激情四溢]</p><p>自由冲浪213cm</p><p>￥1333</p><a href="#!/page/02">订购</a></div>
			</li>
			<li>
				<div>
					<img src="img/ware04.png" alt="" />
				</div>
				<div class="right"><p>[热带韵味]</p><p>自由冲浪234cm</p><p>￥1453</p><a href="#!/page/03">订购</a></div>
			</li>
		</ul>
	</div>
</div>
<script>
	$("#back").click(function(){
		history.go(-1);
	})
</script>
