<div>
	<header>
		<div class="searcharea">
			<h4>{{title}}</h4>
			<div class="back" id="back"><span class="iconfont">&#xe648;</span></div>
		</div>
	</header>
	<div class="person_info">
		<form action="" class="person_form">
			<ul>
				<li><label for="username"><b>用户名:</b><input type="text" id="username" /></label></li>
				<li><label for="password"><b>密码:</b><input type="password" id="password" /></label></li>
				<li><label for="tel"><b>手机:</b><input type="text" id="tel" /></label></li>
				<li><label for="email"><b>邮箱:</b><input type="email" id="email" /></label></li>
				<li><label for="email"><input type="submit" value="立即注册" class="sub" id="sub"/></label></li>
			</ul>
		</form>
	</div>
</div>
<script>
	$("#back").click(function(){
		history.go(-1);
	})
</script>
